#trigger {
    width: 190px;
    height: 100%;
    background-color: #cfcfe0;
    color: #000000;
    text-align: center;
    font-size: 28px;
    border-style: solid;
    border-radius: 1000px;
}

#trigger:hover {
    background-color: #88889e;
}

#toggle-silly {
    width: 100px;
    height:100px;
    display: flex;
    color: red;
}